.fondo {
    background-color: #8AC7B8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul {
    list-style: none;
  }


.divmensiones{
    color: #fcf6c6;
    text-align: center;
    width: 650px;
    height: 700px;
    background-color: #F45A5B;
    padding: 10 10 10 10px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: 'Hedvig Letters Serif', serif;
}

.lista{
    padding: 10px 0px 0px 0px;
    font-family: 'Oswald', sans-serif;
}

.pfp{
    width: 200px;
    height: 200px;
}